body,
html {
    overflow: auto;
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    background-color: #f7f7f7;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    .sidebar {
        display: block;
    }
}

@media (max-width: 767px) {
    .sidebar {
        display: none;
    }

    .main-content {
        margin-top: 3rem;
        /* Menambahkan margin atas untuk memberi ruang bagi tombol toggle */
    }

    #toggleSidebar {
        font-size: 1.5rem;
        /* Ukuran font */
        padding: 0.25rem 0.5rem;
        /* Padding */
        position: fixed;
        /* Tetap di tempat */
        top: 20px;
        /* Jarak dari atas */
        left: 20px;
        /* Jarak dari kiri */
        z-index: 2000;
        /* Di atas konten lain */
    }
}

.nav-link:hover {
    background-color: #c0d406;
    color: #ffffff;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    padding-left: 70px;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.container {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px #888888;
}

#grafik {
    margin-top: 1em;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px #888888;
}

.sidebar {
    background-color: #469aee;
    color: #ffffff;
    border-radius: 0 15px 15px 0;
    box-shadow: 1px 1px 1px #888888;
    transition: all 0.3s;
}

#dana-masuk:hover {
    background-color: #198754;
    color: #ffffff;
    border-radius: 5px;
}

#dana-keluar:hover {
    background-color: #dc3545;
    color: #ffffff;
    border-radius: 5px;
}

#dana-total:hover {
    background-color: #0d6efd;
    color: #ffffff;
    border-radius: 5px;
}

.sidebar ul li a {
    font-weight: 500;
}

#header-judul {
    font-weight: 600;
}

/* Styles for small screens */
@media (max-width: 767px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        display: block;
        z-index: 1500;
    }

    .sidebar.active {
        left: 0;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1499;
        display: none;
    }

    .overlay.active {
        display: block;
    }
}
